<%- include('../partials/header', {}); %>
<%- include('../partials/navigation', {}); %>


<h1><%= page.meta.title %></h1>

<%- include(page.blocks[0].template, page.blocks[0].data); %>
<%- include(page.blocks[1].template, page.blocks[1].data); %>
<%- include(page.blocks[2].template, page.blocks[2].data); %>
